[run]
concurrency = thread
source = .
omit =
    tests/*
    conftest.py
    */site-packages/*

[report]
omit =
    tests/*
    conftest.py
    */site-packages/*
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
